
@media(max-width:640px) {

    #side {
        display: none;
    }
}


.right-side{
    float: right;
    text-align: right;
}

.left-side{
    float: left;
    text-align: left;
}

div.search{
    padding: 20px 0 0 0;
    text-align: center;
    vertical-align: middle;
    line-height: 32px;
}


article{
    margin-bottom: 20px;
    padding: 10px 10px 0px 20px;
    /* background: #f7f7f7; */
    box-shadow: 0px 0px 15px 3px #efefef;
}

.vContent{
    color:black;
}