.right-side{
    float: right;
    text-align: right;
}

.left-side{
    float: left;
    text-align: left;
}

div.search{
    padding: 20px 0 0 0;
    text-align: center;
    vertical-align: middle;
    line-height: 32px;
}

/* BSKR common */
.bskr-font { font-size:12px; }
.bskr-font-lg { font-size:14px; }
.bskr-font-xlg { font-size:16px; }

/* BSKR list */
#bbs .list-group-item {padding:0; margin-bottom: 15px;  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);}
#bbs .list-group-item-cat {background-color: #f8f8f8;}
#bbs .list-group-item .catbox {line-height:30px;vertical-aling:middle;color:#777777;}
#bbs .mbr {float:left;}
#bbs .mbr.depth {padding-left:15px;}
#bbs .content {padding: 10px 15px;}
#bbs .content-footer{    padding: 10px 15px; border-top: 1px solid #dedcdc; border-bottom: 1px solid #dedcdc; background: #efefef;}
#bbs .content.depth {padding-left:80px;}
#bbs .sbj {font-family:"Godo", "Dotum";font-size:14px;font-weight:bold;color:#333;padding-top:1px;padding-bottom:5px;}
#bbs .sbj .subject{word-break:break-all;word-break:break-word;overflow:auto; font-size: 16px;}
#bbs .sbj .cat {font-size:90%;color: #999;letter-spacing:-1px;}
#bbs .sbj .comment {font:normal 80% arial;color:#FC6138;}
#bbs .sbj .trackback {font:normal 80% arial;color:#02ACD6;}
#bbs .sbj .new {font:normal 80% arial;color: #ff0000;}
#bbs .sbj .notice {position:relative; top:3px;}
#bbs .desc {color:#999;}
#bbs .desc .bbs-link:hover {color: #2a6496;text-decoration:underline;}
#bbs .preview {float:right;}
#bbs .none {padding:5px 0;}
#bbs .buttons {margin: 20px 0; text-align: center;}
#bbs .buttons .left-side {float:left; text-align:left;}
#bbs .buttons .right-side {float:right; text-align:right;}
#bbs .buttons .pagebox01 {margin: -25px 0 0 0; padding: 0 165px;}
#bbs .searchform {padding:20px 0 0 0; text-align:center; vertical-align:middle; line-height:32px;}
#bbs .searchform select {display:inline-block;max-width:100px;}
#bbs .searchform .input-search {display:inline-block;max-width:210px;}


/* BSKR view */
#bskr-view {margin:auto;padding:0 0 30px 0;}
#bskr-view .viewbox {}
#bskr-view .viewbox .header {border-top: 1px solid #d5d5d5; border-bottom: 1px solid #d5d5d5;     padding: 0px 5px;}
#bskr-view .viewbox .icon {position:absolute;width:50px;height:50px;margin:10px 0 10px 0;background:url('/images/kanaph/user.png') center center no-repeat;}
#bskr-view .viewbox .subject {padding:0 0 0 60px;}
#bskr-view .viewbox .subject h1 {padding:10px 0 10px 0;margin:0;font-weight:bold;border-bottom:#dfdfdf dotted 1px;word-break:break-all;word-break:break-word;overflow:auto;}
#bskr-view .viewbox .subject .cat {color: #000; letter-spacing: -1px;font-size:90%;}
#bskr-view .viewbox .info {padding-top:3px;padding-bottom:5px;font-family:dotum;color:#c0c0c0;}
#bskr-view .viewbox .info .btn-group {padding-top:2px;}
#bskr-view .viewbox .info .btn-group button {color:#777777;}
#bskr-view .viewbox .info .xleft {float:left;padding:5px 0 0 60px;}
#bskr-view .viewbox .info .xright {float:right; padding-top:5px;}
#bskr-view .viewbox .info .xright ul {padding:0;margin:0;}
#bskr-view .viewbox .info .xright li {list-style-type:none;float:left;}
#bskr-view .viewbox .info .xright .g {padding-right:10px;}
#bskr-view .viewbox .info .xright .g a {/*color:#666;*/}
#bskr-view .viewbox .info .xright .g a img {position:relative;top:-1px;right:2px;}
#bskr-view .viewbox .info .xright .g a:hover {text-decoration:underline;}
#bskr-view .viewbox .info .xright div {position:absolute;display:none;padding-top:2px;}
#bskr-view .viewbox .info .xright div ul {position:relative;top:17px;width:79px;border:#dfdfdf solid 1px;background:#ffffff;padding:1px;}
#bskr-view .viewbox .info .xright div li {float:none;display:block;padding:3px 0 3px 3px;color:#333;cursor:pointer;}
#bskr-view .viewbox .info .xright div li:hover {background:#ECF0F6;}
#bskr-view .viewbox .info .split {padding:0 5px 0 5px;color:#dfdfdf;font-size:10px;}
#bskr-view .viewbox .content {padding:30px 0 30px 5px;line-height:160%;border-bottom:1px solid #d5d5d5;word-break:break-all;word-break:break-word;overflow:auto; color: black;}
#bskr-view .viewbox .content p {margin-bottom:0;}
#bskr-view .viewbox .content img {max-width:100%;height:auto;}
#bskr-view .viewbox .content .tag {padding:10px 0 0 0;}
#bskr-view .viewbox .content .tag a {font-family:dotum;color:#222;}
#bskr-view .viewbox .content .tag a:hover {text-decoration:underline;}
#bskr-view .viewbox .content .attach {padding: 0 0 10px 0;line-height:120%;}
#bskr-view .viewbox .content .attach ul {padding:0;margin:0;}
#bskr-view .viewbox .content .attach li a {font-family:dotum;color:#666;}
#bskr-view .viewbox .content .attach li a:hover {text-decoration:underline;}
#bskr-view .viewbox .content .attach li .size {font-size:11px;font-family:arial;color:#999;}
#bskr-view .viewbox .content .attach li .down {font-size:11px;font-family:arial;color:#333;}
#bskr-view .viewbox .content .scorebox {text-align:center;padding:20px 0 20px 0;}
#bskr-view .viewbox .content .snsbox {padding:20px 0 0 0;text-align:right;}
#bskr-view .viewbox .content .snsbox img {cursor:pointer;}
#bskr-view .viewbox .content .hidden-content {margin: 0 0 20px 0;color: #F07090;}
#bskr-view .bottom {padding:10px 0 10px 0;text-align:right;}
#bskr-view .comment {padding:20px 0 10px 0;color:#c0c0c0;}
#bskr-view .comment a {font-weight:bold;color:#3EA9CD;}
#bskr-view .comment .icon1 {position:relative;top:-2px;}


.reply-content.update > .reply-content-text{
    display: none;
}

#add-tag {
    margin: 0;
    border: 0 !important;
    padding: 5px 0;
    height: 20px;
    outline: none;
    resize: none;
    vertical-align: bottom;
    box-shadow: none;
    display: inline-block;
    width: 300px;
}

#tag-group{

}

.tag-item{
    border: 1px solid #807f7f;
    padding: 5px;
    margin-right: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(171, 171, 171, 0.9);
    background-color: #d6f4f7;
}

.tag-item span{
    margin-left: 5px;
}

.tag-item span > i{
    cursor: pointer;
}

.tag-item i:hover{
    color:#000000;
}
/* 좋아요 LIKE CSS*/

.like-content > a.like{

}

.like-content > a.like:hover{
    color: #f15974
}

.like-content > a.liked, .liked {
    color: #f15974
}

.bbs-submenu{
    position: absolute;
    right: 20px;
    margin-top: -6px;

}

.bbs-submenu > .dropdown-menu{
    left: -123px;
    padding: 0px;
}


@media(max-width: 767px){

    .bbs-submenu > .dropdown-menu{
        margin-top: 30px;
    }

}



@media(max-width:640px) {

    #side {
        display: none;
    }
}
